<navigation></navigation>

<page-header content="vm.pageHeader"></page-header>
<div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p class="rating">
                    <small rating-stars rating="vm.data.location.rating">&nbsp;</small>
                    <p>{{vm.data.location.address}}</p>
                </p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Open hours</h2>
                    </div>
                    <div class="panel-body">
                        <p ng-repeat="time in vm.data.location.openingTimes" ng-switch="time.closed">
                            {{time.days}} :
                            <span class="opening-time" ng-switch-when="true">closed</span>
                            <span class="opening-time" ng-switch-default>{{time.opening + " - " + time.closing}}</span>
                        </p>
                        <!--code open time                            -->
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Facilities</h2>
                    </div>
                    <div class="panel-body" >
                        <span class="label label-warning" ng-repeat="facility in vm.data.location.facilities">
                            <span class="glyphicon glyphicon-ok">{{facility}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 location-map">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Location Map</h2>
                    </div>
                    <div class="panel-body">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{vm.data.location.coords[1]}},{{vm.data.location.coords[0]}}&zoom=14&sensor=false&size=580x400&scale=1&markers={{vm.data.location.coords[1]}},{{vm.data.location.coords[0]}}&key=AIzaSyBJObpqLuB4GklqxKbz4afxwVfFRI2JJkE"
                        class="img-responsive img-rounded" height="auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary review-panel">
                    <div class="panel-heading">
                        <a ng-show="vm.isLoggedIn" class="btn btn-default pull-right" ng-click="vm.popupReviewForm()">Add review</a>
                        <a ng-hide="vm.isLoggedIn" class="btn btn-default pull-right" href="/login?page={{vm.currentPath}}" >Login to add review</a>
                        <h2 class="panel-title"> Customer reviews</h2>
                    </div>
                    <div class="panel-body review-container" >
                        <div class="row" ng-repeat="review in vm.data.location.reviews | orderBy:'createdOn':true">
                            <div class="review">
                                <div class="well well-sm review-header">
                                    <span class="rating" rating="review.rating" >
                                    </span>
                                    <span class="reviewAuthor"> {{review.author}}</span>
                                    <small class="reviewTimestamp">{{review.createdOn | date : 'd MMM yyyy'}}</small>
                                </div>
                                <div class="col-xs-12">
                                    <p ng-bind-html="review.reviewText | addHtmlLineBreaks"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <p class="lead">{{vm.data.location.name + ' '+ vm.sidebar.context}}</p>
        <p>{{sidebar.callToAction}}</p>
    </div>
</div>
<footer-generic></footer-generic>