    
<title><%#=title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href='/bootstrap/css/amelia-bootstrap.css' type='text/css'>
<link rel="stylesheet" href='/stylesheets/style.css' type='text/css'>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/Angular/loc8App.js"></script>
