<!DOCTYPE html>
<html>

<head>
    <% include ./layout/header %>
</head>

<body>
    <% include ./layout/navbar %>
        <div class="container">
        <!-- Begin Content  -->
            <div id="banner" class="page-header">
                 <div class="row">
                     <div class="col-md-6 col-sm-12">
                         <h1><%=title%></h1>
                     </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                     <p> <%=content%>
                    <br/><br/>
                        <%=author%>
                     </p>

                </div>
            </div>
        <!-- end Content  -->
        </div>
        <footer>
            <% include ./layout/footer %>
        </footer>
</body>

</html>