<!DOCTYPE html>
<html>
    <header>
        <% include ./layout/header %>
    </header>
    <body ng-controller="myController">
        <% include ./layout/navbar %>
        <!-- Begin Content  -->
            <div class="container" ng-view>
            </div>
        <!-- end Content  -->
        <footer>
            <% include ./layout/footer %>
        </footer>
    </body>
</html>
