<!DOCTYPE html>
<html>
    <header>
        <% include ./layout/header %>
    </header>
    <body ng-controller="myController">
        <% include ./layout/navbar %>
        <!-- Begin Content  -->
            <div id="banner" class="page-header">
                 <div class="row">
                     <div class="col-md-6 col-sm-12">
                         <h1><%=title%></h1>
                     </div>
                 </div>
            </div>
        <!-- end Content  -->
        <footer>
            <% include ./layout/footer %>
        </footer>
    </body>
</html>
